:root{
      --spacing: 10px;
      --blur: 10px;
      --base: #BADA55;
    }
    body{
      text-align: center;
      font-family: Sans-Serif;
      font-size: 10px;
      font-weight: bold;
      color:black;
      background:teal;
    }
    .controls {
      margin-bottom: 30px;
    }

    input {
      width: 100px;
    }

    .hl{
      color: var(--base);
    }

    img{
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
    }